**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars
*.tfvars.json
backend.hcl


node_modules/
build/
.techradar/
.next/
data/
npm-debug.log*

!**/*.example