cpu_cores    = 2
ram_gb       = 4
disk_size_gb = 20
subnet_id    = "REPLACE_SUBNET"

ssh_key      = "ssh-rsa ..."

yc_token  = "YOUR_TOKEN"
cloud_id  = "YOUR_CLOUD_ID"
folder_id = "YOUR_FOLDER_ID"


// реальные переменные не комитил (сохранил локально)